<div class="container mt-4 mb-4">
    <h2 class="mb-4"><i class="bi bi-person-circle me-2"></i>Meu Perfil</h2>
    <form #profileForm="ngForm">
        <!-- Imagem de Perfil -->
        <div class="mb-4 text-center">
            <div class="profile-image-container">
                <img [src]="profileData.profileImage" alt="Imagem de Perfil" class="profile-image" />
            </div>
            <div class="mt-3">
                <label for="profileImageUpload" class="btn btn-custom-image">
                    <i class="bi bi-image"></i> Alterar Imagem
                    <input type="file" id="profileImageUpload" (change)="onFileSelected($event)" accept="image/*"
                        hidden />
                </label>
            </div>
        </div>

        <!-- Nome Completo -->
        <div class="mb-3">
            <label for="fullName" class="form-label">Nome de Exibição</label>
            <input type="text" class="form-control" id="fullName" placeholder="Digite seu nome completo"
                [(ngModel)]="profileData.fullName" (ngModelChange)="markAsModified()" name="fullName" required />
        </div>

        <!-- Responsabilidade -->
        <div class="mb-3">
            <label for="role" class="form-label">Responsabilidade</label>
            <input type="text" class="form-control" id="role" [value]="profileData.role" disabled />
        </div>

        <!-- Data de Criação da Conta -->
        <div class="mb-3">
            <label for="dateOfArrival" class="form-label">Data de Criação da Conta</label>
            <input type="date" class="form-control" id="dateOfArrival" [value]="profileData.timeOfArrival" disabled />
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu email"
                [(ngModel)]="profileData.email" (ngModelChange)="markAsModified()" name="email" required />
        </div>

        <!-- Senha -->
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" [value]="'********'" disabled />
            <button type="button" class="btn btn-secondary mt-2" (click)="togglePasswordReset()">
                <i class="bi bi-key me-2"></i> Redefinir Senha
            </button>
        </div>

        <!-- Campos de Redefinição de Senha -->
        <div *ngIf="showPasswordReset">
            <div class="mb-3">
                <label for="newPassword" class="form-label">Nova Senha</label>
                <input type="password" class="form-control" id="newPassword" [(ngModel)]="passwordData.newPassword"
                    name="newPassword" />
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Nova Senha</label>
                <input type="password" class="form-control" id="confirmPassword"
                    [(ngModel)]="passwordData.confirmPassword" name="confirmPassword" />
            </div>
            <button type="button" class="btn btn-primary" (click)="confirmPasswordReset()">Confirmar</button>
        </div>

        <!-- Preferência por Anonimato -->
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="anonymous" [(ngModel)]="profileData.isAnonymous"
                (ngModelChange)="markAsModified()" name="anonymous" />
            <label class="form-check-label" for="anonymous">
                Prefere Anonimato
            </label>
        </div>

        <!-- Botão Salvar -->
        <div class="mt-4" *ngIf="isModified">
            <button type="button" class="btn btn-primary" (click)="saveProfile()">
                <i class="bi bi-save"></i> Salvar
            </button>
        </div>
    </form>
</div>