<nav class="menu p-3 bg-light vh-100 border-end">
    <ul class="nav flex-column">
        <li class="nav-item"><a routerLink="/inicio" routerLinkActive="active" class="nav-link"><i
                    class="bi bi-house icon"></i> Início</a></li>
        <li class="nav-item"><a routerLink="/todas-contribuicoes" routerLinkActive="active" class="nav-link"><i
                    class="bi bi-list icon"></i> Todas as Contribuições</a>
        </li>
        <li class="nav-item"><a routerLink="/adicionar-proposta" routerLinkActive="active" class="nav-link"><i
                    class="bi bi-plus-circle icon"></i> Adicionar Proposta</a>
        </li>
        <li class="nav-item"><a routerLink="/dicas-utilizacao" routerLinkActive="active" class="nav-link"><i
                    class="bi bi-lightbulb icon"></i> Dicas de Utilização</a>
        </li>
        <li class="nav-item"><a routerLink="/contribuicoes-salvas" routerLinkActive="active" class="nav-link"><i
                    class="bi bi-bookmark icon"></i> Salvos</a></li>
        <li class="nav-item"><a routerLink="/minhas-contribuicoes" routerLinkActive="active" class="nav-link"><i
                    class="bi bi-folder icon"></i> Minhas Contribuições</a>
        </li>
    </ul>
</nav>