<div class="container mt-4">
    <!-- Barra de pesquisa -->
    <div class="row">
        <div class="col-12 mb-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar contribuições" [(ngModel)]="searchQuery"
                    (input)="filterContributions()" aria-label="Pesquisar contribuições" />
                <button class="btn btn-primary" type="button"><i class="bi bi-search"></i> Pesquisar</button>
            </div>
        </div>
    </div>

    <!-- Tela quando não há contribuições -->
    <div *ngIf="paginatedContributions.length === 0" class="text-center">
        <h3 class="mt-4">Nenhuma contribuição encontrada</h3>
        <p class="text-muted">Atualmente, não há contribuições registradas.</p>
    </div>

    <!-- Lista de contribuições resumida -->
    <div *ngIf="paginatedContributions.length > 0" class="row">
        <div class="col-12">
            <ul class="list-group mb-3">
                <li *ngFor="let contribution of paginatedContributions"
                    class="list-group-item d-flex align-items-center justify-content-between"
                    [routerLink]="['/detalhes-proposta', contribution.id]" style="cursor: pointer;">
                    <div class="d-flex align-items-start">
                        <img [src]="contribution.image || 'https://placehold.co/512x512'" alt="Imagem"
                            class="rounded me-3" style="width: 50px; height: 50px;" />
                        <div>
                            <!-- Nome -->
                            <div>
                                <strong>{{ contribution.name }}</strong>
                            </div>
                            <!-- Tipo -->
                            <div>
                                <span><i class="bi bi-tag me-1"></i> {{ contribution.type | titlecase }}</span>
                            </div>
                            <!-- Anônimo ou não -->
                            <div>
                                <span><i class="bi bi-shield me-1"></i>
                                    {{ contribution.isAnonymous ? 'Anônimo' : 'Identificado' }}
                                </span>
                            </div>
                            <!-- Cidade e Estado -->
                            <div>
                                <span><i class="bi bi-geo-alt me-1"></i>
                                    {{ contribution.address.city }}, {{ contribution.address.state }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <i class="bi bi-arrow-right"></i> <!-- Ícone indicando que é clicável -->
                </li>
            </ul>
        </div>
    </div>

    <!-- Paginação -->
    <div class="row mt-4">
        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
                        <a class="page-link" tabindex="-1"><i class="bi bi-chevron-left"></i></a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage"
                        (click)="changePage(page)">
                        <a class="page-link">{{ page }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages"
                        (click)="changePage(currentPage + 1)">
                        <a class="page-link"><i class="bi bi-chevron-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>