.list-group-item {
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item:hover {
    background-color: #6a11cb;
    color: white;
}

img {
    border-radius: 5px;
}

.pagination .page-link {
    border-radius: 5px;
}

.pagination .page-item.active .page-link {
    background-color: #6a11cb;
    border-color: #6a11cb;
}

span {
    font-size: 0.9rem;
}

strong {
    font-size: 1rem;
}

.bi-arrow-right {
    font-size: 1.2rem;
    color: #6c757d;
}

.list-group-item:hover .bi-arrow-right {
    color: white;
}

.text-muted {
    font-size: 0.9rem;
    color: #6c757d;
}