.form-control,
textarea {
    border-radius: 5px;
}

.img-fluid {
    margin-top: 10px;
}

.btn {
    border-radius: 5px;
}

.btn-primary {
    background-color: #6a11cb;
    border-color: #6a11cb;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn:hover {
    opacity: 0.9;
}

button:disabled {
    opacity: 0.6;
    /* Torna o botão semi-transparente */
    cursor: not-allowed;
    /* Mostra um cursor de "não permitido" */
}

button:disabled.btn-primary {
    background-color: #007bff;
    /* Mantém a cor do botão */
    border-color: #007bff;
    /* Mantém a borda do botão */
    color: white;
    /* Mantém o texto visível */
}