<div class="container mt-4">
    <h2 class="mb-4">Adicionar Proposta</h2>
    <form (ngSubmit)="onSubmit(proposalForm)" #proposalForm="ngForm" class="mb-4">

        <!-- Inserir Imagem -->
        <div class="mb-3">
            <label for="imageUpload" class="form-label"><i class="bi bi-image me-2"></i>Inserir Imagem</label>
            <input type="file" class="form-control" id="imageUpload" (change)="onFileSelected($event)" accept="image/*"
                required />
        </div>
        <div *ngIf="!imagePreview" class="text-danger">
            A imagem é obrigatória.
        </div>
        <div class="mb-3">
            <img *ngIf="imagePreview" [src]="imagePreview" class="img-fluid"
                style="max-width: 300px; border: 1px solid #ccc; border-radius: 5px;"
                alt="Pré-visualização da Imagem" />
        </div>

        <!-- Título -->
        <div class="mb-3">
            <label for="titulo" class="form-label"><i class="bi bi-fonts me-2"></i>Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="proposalData.title"
                #titulo="ngModel" required placeholder="Informe o título da proposta" />
            <div *ngIf="titulo.invalid && titulo.touched" class="text-danger">
                O título é obrigatório.
            </div>
        </div>

        <!-- Descrição -->
        <div class="mb-3">
            <label for="descricao" class="form-label"><i class="bi bi-card-text me-2"></i>Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" [(ngModel)]="proposalData.description"
                #descricao="ngModel" rows="4" required placeholder="Descreva sua proposta"></textarea>
            <div *ngIf="descricao.invalid && descricao.touched" class="text-danger">
                A descrição é obrigatória.
            </div>
        </div>

        <!-- Tipo -->
        <div class="mb-3">
            <label for="tipo" class="form-label"><i class="bi bi-tag me-2"></i>Tipo</label>
            <select class="form-select" id="tipo" name="tipo" [(ngModel)]="proposalData.type" #tipo="ngModel" required>
                <option value="IMPROVEMENT" selected>Melhoria</option>
                <option value="COMPLAINT">Reclamação</option>
            </select>
            <div *ngIf="tipo.invalid && tipo.touched" class="text-danger">
                O tipo da proposta é obrigatório.
            </div>
        </div>

        <!-- Endereço -->
        <div class="mb-3">
            <label class="form-label"><i class="bi bi-geo-alt me-2"></i>Endereço</label>

            <input type="text" class="form-control mb-2" id="street" name="street"
                [(ngModel)]="proposalData.address.street" #street="ngModel" required placeholder="Rua" />
            <div *ngIf="street.invalid && street.touched" class="text-danger">
                A rua é obrigatória.
            </div>

            <input type="text" class="form-control mb-2" id="number" name="number"
                [(ngModel)]="proposalData.address.number" #number="ngModel" required placeholder="Número" />
            <div *ngIf="number.invalid && number.touched" class="text-danger">
                O número é obrigatório.
            </div>

            <input type="text" class="form-control mb-2" id="neighborhood" name="neighborhood"
                [(ngModel)]="proposalData.address.neighborhood" #neighborhood="ngModel" required placeholder="Bairro" />
            <div *ngIf="neighborhood.invalid && neighborhood.touched" class="text-danger">
                O bairro é obrigatório.
            </div>

            <input type="text" class="form-control mb-2" id="city" name="city" [(ngModel)]="proposalData.address.city"
                #city="ngModel" required placeholder="Cidade" />
            <div *ngIf="city.invalid && city.touched" class="text-danger">
                A cidade é obrigatória.
            </div>

            <select class="form-select mb-2" id="state" name="state" [(ngModel)]="proposalData.address.state"
                #state="ngModel" required>
                <option value="" disabled selected>Selecione o Estado</option>
                <option value="SP">São Paulo</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="MG">Minas Gerais</option>
            </select>
            <div *ngIf="state.invalid && state.touched" class="text-danger">
                O estado é obrigatório.
            </div>

            <input type="text" class="form-control" id="CEP" name="CEP" maxlength="9"
                [(ngModel)]="proposalData.address.cep" #cep="ngModel" required placeholder="CEP"
                (input)="formatarCEP($event)" />
            <div *ngIf="cep.invalid && cep.touched" class="text-danger">
                O CEP é obrigatório.
            </div>
        </div>

        <!-- Opção de Enviar Como Anônimo -->
        <div class="mb-3">
            <label class="form-label"><i class="bi bi-eye-slash me-2"></i>Enviar como anônimo</label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="isAnonymous" [(ngModel)]="proposalData.isAnonymous"
                    name="isAnonymous">
                <label for="isAnonymous" class="form-check-label">Deseja ocultar sua identidade nesta proposta?</label>
            </div>
        </div>

        <!-- Links Relacionados -->
        <div class="mb-3">
            <label class="form-label"><i class="bi bi-link me-2"></i>Links Relacionados</label>
            <div>
                <div *ngFor="let link of proposalData.links; let i = index; trackBy: trackByFn"
                    class="input-group mb-2">
                    <input type="text" class="form-control me-2" [(ngModel)]="link.display" name="titulo{{ i }}"
                        placeholder="Título do link" />

                    <input type="url" class="form-control me-2" [(ngModel)]="link.url" name="url{{ i }}"
                        placeholder="URL do link" />

                    <button type="button" class="btn btn-danger" (click)="removeLink(i)">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>

                <button type="button" class="btn btn-secondary mt-2" (click)="addLink()">
                    <i class="bi bi-plus-circle"></i> Adicionar Link
                </button>
            </div>
        </div>

        <!-- Botões -->
        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-secondary me-2" (click)="clearForm(proposalForm)">
                <i class="bi bi-arrow-counterclockwise"></i> Limpar</button>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-send"></i> Enviar</button>
        </div>
    </form>
</div>