.form-control,
textarea {
    border-radius: 5px;
}

.img-fluid {
    margin-top: 10px;
}

.btn {
    border-radius: 5px;
}

.btn-primary {
    background-color: #6a11cb;
    border-color: #6a11cb;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn:hover {
    opacity: 0.9;
}